<md-card>
  <a href="http://www.google.com" md-button color="primary">SEARCH</a>
  <a href="http://www.google.com" md-raised-button>SEARCH</a>
  <a href="http://www.google.com" md-fab>
    <md-icon class="md-24">check</md-icon>
  </a>
  <a href="http://www.google.com" md-mini-fab>
    <md-icon class="md-24">check</md-icon>
  </a>
</md-card>

<md-card>
  <button md-button>HELLO</button>
  <button md-raised-button class="mat-primary">HELLO</button>
  <button md-fab class="mat-accent">HI</button>
</md-card>