// styles in src/style directory are applied to the whole page
body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

md-card {
  border-radius: 2px;
  margin: 1rem;
  position: relative;
}